html {
   
}

body {
    overflow-x: hidden !important;
}


.navbar-brand {
    font-family: 'Pangolin', cursive;
    font-size: 2.1rem !important;
    color:black !important;
  
}

.nav_brand_name {
    font-size: 3.2rem !important;
}

.brand_name {
    font-family: 'Pangolin', cursive;
    
}

.fa-tshirt {
    color:black;
}

.nav_ig_icon {
    font-size: 3rem !important;
}

.phone_icon{
    font-size: 3rem !important;
}

.top_icons {
    color:black !important;
    font-size: 2rem;
    text-align: center;
}

.nav_cont {
    background-image:linear-gradient(#009fff, #ec2f4b)
    
}

.top_icon_text {
    font-size: 3rem !important;
    margin-left: 0.3rem;
}

.get {
    text-align: center;
}

.dyed {
    background-image:url(https://pa1.narvii.com/7282/10834b67de273b42fa25856510c51659d5419f6dr1-480-270_hq.gif);
    background-size:100%;
    -webkit-background-clip: text;
    color:transparent;
   
}

.t-shirts {
    background-image:url(https://64.media.tumblr.com/269a91e1a9ed40a5f6df4c35cf2de260/tumblr_pfg94z5tOh1uzwgsuo1_400.gifv);
    background-size:100%;
    -webkit-background-clip: text;
    color:transparent;
}



img {
width: 100%;
margin: 0 auto;
}




.pictures_body {
display:flex;
flex-direction: column;


    
}

.pictures_body > * {
    width: 100%;
}







.hot {
    background-image:url(https://i.pinimg.com/originals/58/a9/44/58a944b0faa4d14a4eae9dde7950a6ad.gif);
    background-size:100%;
    -webkit-background-clip: text;
    color:transparent;
   
}




/* thumbnails */


.thumb_img {
    width: 100%;
}

.thumbnail {

  
    box-shadow: 0 0 1em rgba(0,0,0,0.2)
   
}

.thumbnail:hover{
    transform: scale(1.075);
    transition: 0.3s ease;
    cursor: pointer;
}

.btn-primary {
display:flex !important;
justify-content: center !important;
margin: 0 auto !important;
width: 80%;

}



 /* footer */

.footer {
    display:flex;
    flex-direction: column;
    align-items: center;
   
}



.footer_image {
    min-width: 100%;
}

.footer_row div  {
    display: flex;
    justify-content: space-around;
}

.footer_row {
    position: relative;
}
.footer a {
    top:20px;
    position: absolute;
    color:#777777;
    font-size: 2rem;
    
   
}

.footer a:nth-of-type(1) {
    right:30px;
 }
.footer a:nth-of-type(2) {
   left:30px;
}







@media screen and (min-width:550px) {

        .brand_name {
            font-size: 3rem !important;
        }

        .top_icons {
            font-size: 3rem !important;
        }

        .top_icon_text {
            font-size: 3rem !important;
        }

        .get {
            font-size: 7rem !important;
        }

        .kayshert {
            font-size: 7rem !important;
        }


        /* carousel */
        .carousel-inner {
            height:100vh;
        
        }
            
        img {
            width: 100%;
            margin: 0 auto;
            }



            /* thumbnails */

            .hot {
                font-size: 5rem;
            }

        .in_twos {

            display:flex;
            margin: 0px;
            
        }

        .in_twos > * {
                width: 100%;
        }


            .pictures_body .thumbnail {
                max-width: 30% !important;
                margin: 0px;
                display:inline;
                font-size: 0px;
                padding:0px;
            
            
            

            
            }





            .pictures_body .thumb_img {
            max-width: 60%;

            }

            .btn-primary {
                max-width: 60%;
                padding:1rem;
            }

            .last_one {
                max-width: 60%;
                margin: 0 auto;
            }

           

}